DB_HOST = localhost
DB_PORT = 5432
DB_NAME = fitness_performance_tracker
DB_USER = postgres
DB_PASSWORD = YOUR_PASSWORD


LOG_LEVEL=DEBUG
JWT_SECRET_KEY=YOUR_JWT_SECURITY_KEY_THAT_HAS_TO_BE_32_CHARS
JWT_EXPIRATION_MINUTES=30
JWT_REFRESH_EXPIRATION_DAYS=7
